doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    block title
      title юТека
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="icon" type="image/png" href="static/img/favicon.png")
    link(rel="stylesheet" media="all" href="css/app.css")

    script(src="js/lib/jquery.js")

    block headScript
    script(src="js/global.js")

    //- script(src="js/init-scroll.js")
    script(src="js/init-global.js")
    script(src="js/init-popup.js")
    script(src="js/init-select.js")
    script(src="js/init-map.js")
    script(src="js/common.js")

  body
    //BEGIN out
    block content
    //END out